{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div>
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <form action="/diretores/edit-save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="pais">País: </label>
            <input type="text" name="pais" id="pais">
        </div>
        <input type="hidden" name="id_diretor" id="id_diretor" value="{{diretores.id_diretor}}">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}