{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/diretores/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>País</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for a in diretores %}
        <tr>
            <td>{{a.nome}}</td>
            <td>{{a.pais}}</td>
            <td><a href="/diretores/edit/{{a.id_diretor}}">[E]</a></td>
            <td><a href="/diretores/remove/{{a.id_diretor}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}